---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<ol>
  <li>STAT 111 - STATISTICS BY REAL LIFE EXAMPLES (Spring 2018, Spring 2020)</li>
  <li>STAT 291 - STATISTICAL COMPUTING I (Fall 2017, Fall 2018)</li>
  <li>Milk</li>
  <li>Water</li>
  <li>Juice</li>
  <li>Beer</li>
</ol>

+  **STAT 111 - STATISTICS BY REAL LIFE EXAMPLES (Spring 2018, Spring 2020)**

+  **STAT 291 - STATISTICAL COMPUTING I (Fall 2017, Fall 2018)**

+  **STAT 292- STATISTICAL COMPUTING II (Spring 2018, Spring 2019)**


