---
layout: archive
permalink: /year-archive/
title: "Programming Tutorials and Lecture Notes"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

---

## 🎓 Lecture Records
1. [Introduction to R - Lecture 1](https://lnkd.in/duZZ_QGz)  
2. [Introduction to R - Lecture 2](https://lnkd.in/dJuwXbi6)  
3. [Introduction to R - Lecture 3](https://lnkd.in/d5-euNrY)  
4. [Introduction to R - Lecture 4](https://lnkd.in/deP_zKAh)  

## 📚 Books
1. [An Introduction to R and Basic Statistical Analysis with R](https://ozancanozdemir.github.io/intro_to_r.pdf)  
2. [An Introduction to ggplot2](https://bookdown.org/ozancanozdemir/introduction-to-ggplot2/)  
3. [Yorumlanabilir Makine Öğrenmesi (Çeviri)](https://ozancans-organization.gitbook.io/yorumlanabilir-makine-ogrenmesi)  

## 📰 Articles
1. [Yapay Zekâ Alanında Kariyer Nasıl İnşa Edilir? – Andrew Ng (Çeviri)](https://ozancans-organization.gitbook.io/yapay-zeka-alaninda-kariyer-nasil-insa-edilir/)  

## 📄 Lecture Notes
1. [Hierarchical Modelling in R with Examples](https://ozancanozdemir.github.io/Hierarchical%20Modelling%20in%20R%20with%20examples.pdf)

## 💻 R Programming Tutorials
1. [Pie Chart on Map in R with ggplot2 and Scatter Pie (Turkey Example)](https://ozancanozdemir.github.io/map_and_piechart.html)  
2. [Chat with LLMs in R](https://ozancanozdemir.github.io/chat_with_llm_in_R.html)  
3. [Candlestick Chart in R - ggplot2 and plotly](https://ozancanozdemir.github.io/candlestick.html)  
4. [Türkiye Haritası ggplot2 ile](https://ozancanozdemir.github.io/turkiye_harita.html)  
5. [Intro to Data Viz with ggplot2 (SICSS 2023 Bootcamp)](https://ozancanozdemir.github.io/intro_to_ggplot2.html)  
6. [Atatürk'ün Okuduğu Kitaplar](https://rpubs.com/ozancanozdemir/ataturk_kitap)  
7. [Add Fitted Line to Scatterplot in R](https://ozancanozdemir.github.io/how_to_add_fitted_line_to_scatterlot_in_R.html)  
8. [Financial Times Plot with ggplot2](https://ozancanozdemir.github.io/ft.html)  
9. [R Studio'da calendR Takvim Hazırlama](https://ozancanozdemir.github.io/takvim.html)  
10. [ARCH-GARCH with rugarch](https://ozancanozdemir.github.io/ARCHGARCHTutorial.html)  
11. [R Markdown for Class Reports (PDF)](https://ozancanozdemir.github.io/markdownforclassreports.pdf)  
12. [İzmir Metro Haritası - Leaflet](https://ozancanozdemir.github.io/izmirmetro.html)  
13. [ODTÜ Bölüm Verileri - gganimate ile Görselleştirme](http://users.metu.edu.tr/ozancan/gganimate.html)  
14. [Sunburst ile İstanbul Belediyesine Şikayet Haritası](http://users.metu.edu.tr/ozancan/sunburst.html)  
15. [Word Cloud - İstanbul Ev Atıkları](http://users.metu.edu.tr/ozancan/wordcloud.html)  
16. [Corona Visualization with Plotly & Leaflet](http://users.metu.edu.tr/ozancan/corona_vis.html)  
17. [Şehir Haritası ggplot2 ile](http://users.metu.edu.tr/ozancan/ankaraharita.html)  
18. [Deniz/Göl/Okyanus Haritası - oceanmap](http://users.metu.edu.tr/ozancan/r_deniz_harita.html)

## 🐍 Python
1. [GeoPandas ile Türkiye Haritası Çizimi](https://ozancanozdemir.github.io/pythonturkiyeharitasi.html)
