---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}

Here, some tutorials (English and Turkish) are available. 

<br><b>Books</b>
<title> Books </title>
<ol>
 <li><a href="https://bookdown.org/ozancanozdemir/introduction-to-ggplot2/"><b>An Introduction to ggplot2</b></a></li> 
</ol>

<br><b>Lecture Notes</b>
<title> Lecture Notes </title>
<ol>
 <li><a href="https://ozancanozdemir.github.io/Hierarchical Modelling in R with examples.pdf"><b>Hierarchical Modelling in R with examples.</b></a></li> 
</ol>
<b>R Programming</b>
<title> R Programming </title>
<ol>
<li><a href="https://ozancanozdemir.github.io/how_to_add_fitted_line_to_scatterlot_in_R.html"><b>How to Add a Fitted Line to a Scatterplot in R?</b></a></li> 
<li><a href="https://ozancanozdemir.github.io/ft.html"><b>How to make a Financial Times Plot with ggplot2 in R?</b></a></li> 
<li><a href="https://ozancanozdemir.github.io/takvim.html"><b>calendR Kütüphanesi R Studio Programında Takvim Hazırlamak</b></a></li>
<li><a href="https://ozancanozdemir.github.io/ARCHGARCHTutorial.html"><b>ARCH-GARCH Tutorial with rugarch package</b></a></li>
<li><a href="https://ozancanozdemir.github.io/markdownforclassreports.pdf"><b>R Markdown For Class Reports</b></a></li>
<li><a href="http://users.metu.edu.tr/ozancan/gganimate.html"><b>gganimate Kütüphanesi ile ODTÜ İstatistik Bölümü’nün 2009-2019 Yılları Arasındaki Bölüm Kontenjanı, Başarı Sıralaması ve Taban Puanındaki Değişimin Görselleştirilmesi</b></a></li>
<li><a href="http://users.metu.edu.tr/ozancan/sunburst.html"><b>SunburstR Paketi ile 2019 Yılında Istanbul Büyüksehir Belediyesi’ne Ihbar Bırakan Ilçelerin Grafiklendirilmesi</b></a></li>
<li><a href="http://users.metu.edu.tr/ozancan/wordcloud.html"><b>Creating Word Cloud in R and Tutorial using Istanbul Domestic Waste Data</b></a></li>
<li><a href="http://users.metu.edu.tr/ozancan/corona_vis.html"><b>Visualization using plotly and Leaflet packages for Corona Disease</b></a></li>
<li><a href="http://users.metu.edu.tr/ozancan/ankaraharita.html"><b>ggplot2 Kullanarak R’da Türkiye Şehir Haritası Çizdirmek</b></a></li>
<li><a href="http://users.metu.edu.tr/ozancan/r_deniz_harita.html"><b>R’da oceanmap Paketi Kullanarak Deniz/Göl/Okyanus Haritası Çizme</b></a></li>
</ol>  
<b>Python</b>
<title> Python </title>
<ol>
<li><a href="https://ozancanozdemir.github.io/pythonturkiyeharitasi.html"><b>Python'da GeoPandas Kullanarak Türkiye Haritası Çizdirmek</b></a></li>
</ol>  
                                                                           
